@import "primeicons/primeicons.css";

.p-datatable-sm{
  border-radius: 6px !important;
}
tr{
  border-radius: 6px !important;
}

td{
  text-align: center !important;
}


#savebutton{
    float:right;
    height:35px;
    margin-top: 1rem;
}

::ng-deep {
.p-datatable-wrapper{
  border-radius: 6px;
}
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
  padding: 0.8rem 0.5rem;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  font-weight: 600;
  transition: box-shadow 0.2s;
}
