@import "primeicons/primeicons.css";

.searchtab{
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 44px;
    position: relative;
    height: 71px;
    left: 4%;
}
p-table#monthly.p-element{
  position: relative;
  left: 10px;
  bottom: 60px;
}
.tablehead{
    display: flex;
    justify-content:center;
    align-items: center;
}

.img{
  width: 40px;
  left: 18px; //18px
  position: relative;
  top: 19px; //34px
  margin-right: 10px;
  cursor:pointer
}

.heading{
    margin-right: 6rem;
}

::ng-deep{
  .pi-filter[_ngcontent-lux-c81]:before {
    content: "\e94c";
    top: 9px;
    left: 5px;
    margin-bottom: 5px;
    position: relative;
}
}

.top-align{
  position:relative;
  top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  // justify-content: space-between;
  align-items: stretch;
}

/* Optional: Adjust alignment and spacing */
.vertical-header {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: left;
  white-space: nowrap;
  padding: 10px;
  height: 100px;
}


.table-container {
  overflow-x: auto; /* Ensures horizontal scroll if needed */
}

.table-wrapper {
  display: block;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  // border: 1px solid #ddd;
  // padding: 8px;
  white-space: nowrap; /* Prevents cell contents from wrapping */
}

th {
  position: sticky;
  top: 0;
  // background-color: #f1f1f1;
}

.fixed-column {
  position: sticky;
  left: 0;
  background-color: inherit;
  z-index: 1;
}

/* Additional fixed columns */
.fixed-column:nth-child(2) {
  left: 40px; /* Adjust based on the width of your first column */
}

.fixed-column:nth-child(3) {
  left: 200px; /* Adjust based on the width of your first and second columns */
}
