@import "primeicons/primeicons.css";

.searchtab{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tablehead{
    display: flex;
    justify-content:center;
    align-items: center;
}
.custom_form {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1), 2px 1px 2px 2px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: 549px;
  height: 100%;
  position: relative; /* Ensure it is positioned relative to the page flow */
  z-index: 2; /* Ensure the form appears above the background image */
}

img{
  width: 50px;
  left: 2px;
  position: relative;
}

.heading{
    margin-right: 6rem;

}

::ng-deep{
  .pi-filter[_ngcontent-lux-c81]:before {
    content: "\e94c";
    top: 9px;
    left: 5px;
    margin-bottom: 5px;
    position: relative;
}
}

.top-align{
  position:relative;
  top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: stretch;
}

