@import "primeicons/primeicons.css";

.searchtab{
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 44px;
  position: relative;
  height: 71px;
  left: 4%;
}
.tablehead{
    display: flex;
    justify-content:center;
    align-items: center;
}

p-table#avail.p-element{
  position: relative;
  left: 10px;
  display:grid ;
  bottom: 33px;
}

.heading{
    margin-right: 6rem;

}

::ng-deep{
  .pi-filter[_ngcontent-lux-c81]:before {
    content: "\e94c";
    top: 9px;
    left: 5px;
    margin-bottom: 5px;
    position: relative;
}
}

.top-align{
  position:relative;
  top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: stretch;
}

.img{
  width: 40px;
  left: 18px; //18px
  position: relative;
  top: 19px; //34px
  margin-right: 10px;
  cursor:pointer
}

