
<div class="topbar">
  <div class="topbar-content">
    <span class="title">MATE U3
      </span>
    <div class="topbar-links">
      <ul>
        <li>
            <a [routerLink]="['/map']" routerLinkActive="active" style="text-decoration: none;">
            <img src="../../assets/icons/Topbar/location.png" alt="" class="location" style="top: 5px; position: relative;">
            <span class="icon-text" style="color: #000;">View Site</span>
          </a>
        </li><li>
          <a>
            <img src="../../assets/icons/Topbar/reports.png" alt="" class="report"  style="top: 5px; position: relative;">
            <span class="icon-text" style="color: #000;">Reports</span>
          </a>
        </li>

        <li>
          <a>
            <img src="../../assets/icons/Topbar/notification.png" alt="" class="notify"  style="top: 5px; position: relative;">
          </a>
        </li>        <li>
          <a>
            <img src="../../assets/icons/Topbar/profile.png" (click)="op.toggle($event)" alt="" class="profile"  style="top: 5px; position: relative;">
            <span class="icon-text" style="color: #000;" (click)="op.toggle($event)">Admin</span>
          </a>
        </li>
        <p-overlayPanel #op [style]="{'padding':'2rem'}">
          <div class="flex flex-column gap-3 w-60rem">
            <!-- <u><b><label style="left: 40%;position: relative;">Profile</label></b></u> -->
            <div class="flex">
              <div class="item" style="font-weight: bold;">Name : &nbsp;</div>
              <div class="item">R.Gokulraj <i class="pi pi-check-circle" pStyleClass="p-button-raised" style="color: green"></i></div>
            </div>
            <div class="flex">
              <div class="item" style="font-weight: bold; margin-top: 5%;">Email : &nbsp;</div>
              <div class="item" style=" margin-top: 5%;">Gokulraj.Rajasekaran&#64;motherson.com</div>
            </div>
            <div class="flex">
              <div class="item" style="font-weight: bold; margin-top: 5%;">Unit &nbsp;: &nbsp;&nbsp;&nbsp;</div>
              <div class="item" style=" margin-top: 5%;">UNIT III</div>
            </div>
            <div class="flex">
              <p-button icon="pi pi-power-off" label="Logout" size="small" [style]="{' padding': '2px',
                'font-size': 'small','margin-top':'5%'}" styleClass="p-button-raised p-button-danger p-button-text"></p-button>
                <!-- <p-chip styleClass="pl-0 pr-3" click="click()">
                  <span class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center pi pi-power-off p-button-danger">

                  </span>
                  <span class="ml-2 font-medium">
                      Logout
                  </span>
              </p-chip> -->
            </div>
            </div></p-overlayPanel>
      </ul>

    </div>
  </div>
</div>



<app-sidebar></app-sidebar>














