
<div class="topbar">
  <div class="topbar-content">
    <span class="title">MATE U3W</span>
    <div class="topbar-links">
      <ul>
        <li>
          <a>
            <img src="../../assets/icons/Topbar/location.png" class="location">
            <span class="icon-text">View Site</span>
          </a>
        </li>
        <li>
          <a>
            <img src="../../assets/icons/Topbar/profile.png" class="profile">
            <span class="icon-text">Admin</span>
          </a>
        </li>
        <li>
          <a>
            <img src="../../assets/icons/Topbar/notification.png" class="notify">
          </a>
        </li>
        <li>
          <a>
            <img src="../../assets/icons/Topbar/reports.png" class="report">
            <span class="icon-text">Reports</span>
          </a>
        </li>
      </ul>
      
    </div>
  </div>
</div>



<app-sidebar></app-sidebar>














