@import "primeicons/primeicons.css";

.file-input {
    display: none;
  }
 
  .icons{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin-top: -1rem;
    width: 100%;
  }
