@import "primeicons/primeicons.css";

th{
    font-size:small;   
    color: red !important;
    text-align: center !important;
    text-transform: uppercase;
}
td{
    // font-size:small;
    text-align: center !important;
    text-transform: uppercase;
    width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#savebutton{
    float:right;
    height:35px;
    margin-top: 1rem;
}