@import "primeicons/primeicons.css";
.container-fluid{
  margin-left: 60px; /* Sidebar width */
  margin-top: 80px; /* Topbar height */
  padding: 20px;
  background-color: #ffffff;
}
.content-fluid{
  margin-left: 60px; /* Sidebar width */
  margin-top: 20px; /* Topbar height */
  padding: 20px;
  background-color: #ffffff;
}

  .p-inputtext{
      height: 43px;
      width: 45px;
  }

  ::ng-deep .p-datepicker table td {
    padding: 0.2rem !important;
  }

  ::ng-deep .p-datepicker table td > span {
    width: 1.7rem;
    height: 1.7rem;
  }

  ::ng-deep .p-datepicker table {
    font-size: 10pt;
    margin: -0.143rem 0;
  }

  ::ng-deep .p-datepicker .p-datepicker-header {
    padding: 0.2rem;
  }

::ng-deep .p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
  padding: 1rem 0.5rem;
}

::ng-deep {
    .p-sortable-column-icon {
        width: 12px !important;
        height: 12px !important;
    }
}
:host ::ng-deep p-table {
  tr:nth-child(odd) {
      background-color: rgb(251, 230, 230);
  }
}



::ng-deep {
    .p-datatable th {
        font-size:small;
        color: #000000 !important;
        text-align: center !important;
        text-transform: uppercase;
        background: #FFCDCD !important;

    }
}
::ng-deep {
  .p-datatable-wrapper{
    border-radius: 6px;
  }
}
::ng-deep {
    .p-datatable td {
        font-size:small;
        text-align: center !important;
        text-overflow: ellipsis !important;
        white-space: nowrap;
        overflow: hidden;
    }
}
::ng-deep {
    .p-sortable-column-icon {
        width: 12px !important;
        height: 12px !important;
    }
}



::ng-deep{
  .pi-filter[_ngcontent-lux-c81]:before {
    content: "\e94c";
    top: 9px;
    left: 5px;
    margin-bottom: 5px;
    position: relative;
}
}
// .searchtab{
//     display: flex;
//     justify-content: center;
//     align-items: center;;
// }


.options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.optionss{
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    align-items: center;
    flex-direction: row;
}
.exportbutton{

    // display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
}
#savebutton{
    float:right;
    height:35px;
    margin-top: -1rem;
}
// .checkbox{
//     display:flex;
//     align-items: center;
//     justify-content: center;
// }

span{
  bottom: 20px;
  position: relative;
  font-size: 24px;
  font-weight: bolder;
  color: #f76c6c;
}

.open-upwards {
  transform: translateY(-100%) !important; /* Adjust position */
  top: auto !important;
  bottom: 100% !important; /* Position above the input */
}

.open-upwards::before {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 10px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

