<div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [stroke]="chartOptions.stroke"
    [tooltip]="chartOptions.tooltip"
    [colors]="chartOptions.colors"
    [dataLabels]="chartOptions.dataLabels"
    [labels]="chartOptions.labels"
    [plotOptions]="chartOptions.plotOptions"
  ></apx-chart>
</div>

<!-- Sample Usages -->
<!-- <app-reusable-chart
  [chartData]="lineChartData"
  [chartColors]="chartColors"
  chartType="line"
  [chartHeight]="chartHeight"
  [chartWidth]="chartWidth"
  [xAxisCategories]="chartLabels"
  [yAxisTitle]="yAxisTitle">
</app-reusable-chart>

<app-reusable-chart
  [chartData]="areaChartData"
  [chartColors]="chartColors"
  chartType="area"
  [chartHeight]="chartHeight"
  [chartWidth]="chartWidth"
  [xAxisCategories]="chartLabels"
  [yAxisTitle]="yAxisTitle">
</app-reusable-chart>

<app-reusable-chart
  [chartData]="barChartData"
  [chartColors]="chartColors"
  chartType="bar"
  [chartHeight]="chartHeight"
  [chartWidth]="chartWidth"
  [xAxisCategories]="chartLabels"
  [yAxisTitle]="yAxisTitle">
</app-reusable-chart>

<app-reusable-chart
  [chartData]="pieChartData"
  [chartColors]="chartColors"
  chartType="pie"
  [chartHeight]="chartHeight"
  [chartWidth]="chartWidth"
  [xAxisCategories]="chartLabels">
</app-reusable-chart>

<app-reusable-chart
  [chartData]="donutChartData"
  [chartColors]="chartColors"
  chartType="donut"
  [chartHeight]="chartHeight"
  [chartWidth]="chartWidth"
  [xAxisCategories]="chartLabels">
</app-reusable-chart>

<app-reusable-chart
  [chartData]="radarChartData"
  [chartColors]="chartColors"
  chartType="radar"
  [chartHeight]="chartHeight"
  [chartWidth]="chartWidth"
  [xAxisCategories]="chartLabels"
  [yAxisTitle]="yAxisTitle">
</app-reusable-chart> -->
