<div class="location">
  <app-locationtype (locationNameChange)="onLocationNameChange($event)"></app-locationtype>
</div>
<div class="type">
  <p-fieldset  [legend]="locationName" [collapsed]="true"  [toggleable]="false" >
  </p-fieldset>
  <p-fieldset legend="Sites" [collapsed]="true"  [toggleable]="true">
    <app-sites-table></app-sites-table>
  </p-fieldset>
  <p-fieldset legend="Areas" [collapsed]="true" [toggleable]="true">
    <app-areas-table></app-areas-table>
  </p-fieldset>
  <p-fieldset legend="Zones" [collapsed]="true" [toggleable]="true">
    <app-zones-table></app-zones-table>
  </p-fieldset>
</div>


