.location{
  margin-bottom: 60px;
}

.type{
  border: 1px solid #e5e7eb;
  border-radius: 10px;
}

::ng-deep .p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
  padding: 4px;
  font-size: 13px;
}

::ng-deep .p-fieldset {
  margin: 10px;
  border: 0px;
}

::ng-deep span.p-fieldset-legend-text.ng-tns-c3519103761-5.ng-star-inserted{
  padding: 8px;
  color: black;
  background:linear-gradient(5deg, #da2020, transparent);
  cursor: not-allowed;
}

::ng-deep span.p-fieldset-legend-text.ng-tns-c3519103761-5.ng-star-inserted:hover{
  padding: 8px;
  color: black;
  background:linear-gradient(-5deg, #da2020, transparent);
}

