.location{
  margin-bottom: 60px;
}

.type{
  border: 1px solid #e5e7eb;
  border-radius: 10px;
}

::ng-deep .p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
  padding: 4px;
  font-size: 13px;
}

::ng-deep .p-fieldset {
  margin: 10px;
  border: 0px;
}



::ng-deep button.p-ripple.p-element.p-button.p-component.legend{
  background:linear-gradient(5deg, #da2020, transparent);
  cursor: not-allowed;
  border: #da2020;
}

::ng-deep button.p-ripple.p-element.p-button.p-component.legend:hover{
  background:linear-gradient(-5deg, #da2020, transparent);
  cursor: not-allowed;
  border: #da2020;
}
