<div class="wrapper">
  <div class="container">
    <div class="container-fluid" style="display:flex">
      <div class="table-container">
        <p-table #dt
          id = "dom"
          [value]="Table.Location_Wise"
          [scrollable]="true"
          scrollHeight="349px"
          styleClass="p-datatable-gridlines"
        >
        <ng-template pTemplate="header">
            <tr>
                <th  pSortableColumn="rowIndex">S.No       <p-sortIcon field="rowIndex" ></p-sortIcon></th>
                <th  pSortableColumn="CategoryName">Category Name   <p-sortIcon field="CategoryName" ></p-sortIcon></th>
                <th  pSortableColumn="Total">Total    <p-sortIcon field="Total" ></p-sortIcon></th>
                <th  pSortableColumn="IN">IN    <p-sortIcon field="IN" ></p-sortIcon></th>
                <th  pSortableColumn="OUT">OUT  <p-sortIcon field="OUT" ></p-sortIcon></th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-i let-rowIndex="rowIndex +1">
            <tr>
                <td>{{ rowIndex }}</td>
                <td>{{ i.CategoryName }}</td>
                <td>{{ i.Total }}</td>
                <td>{{ i.IN }}</td>
                <td>{{ i.OUT }}</td>

            </tr>
        </ng-template>
      </p-table>
      </div>
    </div>
  </div>
  </div>
