.table-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 645px !important;
  height: 350px !important;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid #80808080;
  transform: translate3d(0, 0, 0);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
 }

 :host ::ng-deep p-table  tr:nth-child(even) {
  background-color: #fff1f1;

}

 #dom{
  flex: 1;
 }

table {
  width: 100% !important;
  height: 100% !important;

}

::ng-deep .p-datatable th {
  font-size:small;
  background-color: #FFCDCD !important;
  text-align: left !important;
  text-transform: uppercase;

}
::ng-deep .p-datatable td {
font-size:small;
text-align: left !important;
text-overflow: ellipsis !important;
white-space: nowrap;
/* overflow: hidden; */
}
::ng-deep
  .p-sortable-column-icon {
      width: 12px !important;
      height: 12px !important;

}

:host ::ng-deep p-table {
tr:nth-child(even) {
  background-color: rgb(251, 230, 230);
}
}