<body>

<!-- <div *ngIf="showtable"><img src="assets\loader1.gif" class="loader1"></div> -->
<div *ngIf="showtable" class="divloader">
  <div class="loader"></div>
</div>

<div class="" *ngIf="!showtable">

      <div class="tabletitle">

        <div class="two">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText  type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="--Global Search--" [style]="{'width':'220px'}"/>
          </span>


          <div class="" >
            <h3 style="text-align: center; font-weight: 600; color:#086286" > <u><em>Asset Configuration Details</em></u></h3>
          </div>
        </div>

        <div class="addDel" >

          <button class="button1 addBtn" (click)="openNew()"><fa-icon [icon]="add" [size]="'xs'"></fa-icon> &nbsp; Add </button> 

          <div class="" >
          <button class="button1 delBtn" role="button" [disabled]="!selectedItem.length" (click)="deleteselectedRows()"><fa-icon [icon]="del" [size]="'xs'" ></fa-icon> &nbsp; Delete </button>
          </div>
        </div>      
           
        <div class="expBtn">      
          
            <!-- <p-button icon="pi pi-file" styleClass="p-button-rounded p-button-secondary p-button-text" (click)="dt.exportCSV()"  pTooltip="CSV" tooltipPosition="bottom"><i class="pi pi-file"></i></p-button> -->
        
            <button class="buttons delBtn"  (click)="exportXls()" id="pdfbtn"><i class="fi fi-sr-file-pdf" id="snapicon"></i>  &nbsp; &nbsp;<i class="fi fi-ss-download" id="downloadicon"></i> </button>

            <div class="" >
            <button class="buttons expData"  (click)="exportXls()"><i class="fi fi-sr-file-excel" id="snapicon"></i>  &nbsp; &nbsp;<i class="fi fi-ss-download" id="downloadicon"></i> </button>
            </div>

            <!-- <p-button icon="pi pi-file-pdf" styleClass="p-button-rounded p-button-danger p-button-text"><i class="pi pi-file-pdf"  pTooltip="PDF" tooltipPosition="bottom"></i></p-button> -->

        </div>
           
      </div>


        <div class="table-Container">    

        <p-table
            #dt
            id="dom"
            [value]="tableData"            
            [(selection)]="selectedItem" 
            selectionMode="multiple"
            [rowHover]="true"
            [rows]="100"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[100, 500, 1000, 1500, 2000]"
            [paginator]="true"
            [scrollable]="true"
            scrollHeight="650px"
            [loading]="loading"
           
            [filterDelay]="0"
            [globalFilterFields]="['im_name','im_assetcode','bcn_macid', 'cm_name','cdn_name','st_name','zn_name','im_temperature','im_battery','im_lastupdated']"
            styleClass="p-datatable-gridlines p-datatable-sm"
            [tableStyle]="{'width':'100%'}"
            class="custom_table"
        >
        <!-- currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Items" -->

        <ng-template pTemplate="header">
            <tr>
                <th><p-tableHeaderCheckbox  ></p-tableHeaderCheckbox></th>
                <th pSortableColumn="sno" >       S.No                <p-sortIcon field="sno" ></p-sortIcon></th>
                <th pSortableColumn="im_name" >   Name                <p-sortIcon field="im_name"></p-sortIcon> </th>
                <th pSortableColumn="im_assetcode" > Asset Code       <p-sortIcon field="im_assetcode"></p-sortIcon></th>       
                <th pSortableColumn="bcn_macid" > MAC Address  <p-sortIcon field="bcn_macid"></p-sortIcon></th>
                <th pSortableColumn="cm_name" > Category     <p-sortIcon field="cm_name"></p-sortIcon> </th>
                <th pSortableColumn="cdn_name" > Condition  <p-sortIcon field="cdn_name"></p-sortIcon></th>
                <th pSortableColumn="st_name" > Status                <p-sortIcon field="im_statusid.st_name"></p-sortIcon></th>
                <th pSortableColumn="zn_name" > Current Location <p-sortIcon field="zn_name"></p-sortIcon></th>
                <!-- <th pSortableColumn="im_zonehomeid.zn_name" > Home Location       <p-sortIcon field="im_zonehomeid.zn_name"></p-sortIcon></th> -->
                <th pSortableColumn="im_temperature" > Temp                      <p-sortIcon field="im_temperature"></p-sortIcon></th>
                <th pSortableColumn="im_battery" > Battery %           <p-sortIcon field="im_battery"></p-sortIcon></th>
                <th pSortableColumn="im_lastupdated" > Last update        <p-sortIcon field="im_lastupdated"></p-sortIcon></th>
                <th>#</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowIndex="rowIndex +1" let-item>
            <tr >
                <td>
                    <p-tableCheckbox [value]="item" ></p-tableCheckbox>
                </td>
                <td> {{ rowIndex  }}  </td>
                <td class="itemcell" pTooltip="{{item.im_name}}" tooltipPosition="top"> {{ item.im_name }}  </td>
                <td  *ngIf="(item.im_assetcode === 'False') || (item.im_assetcode == null)"> -</td>
                <td  *ngIf="item.im_assetcode !== 'False' && (item.im_assetcode !== null)"> {{item.im_assetcode}}</td>
                <td> {{ item.bcn_macid}}    </td>
                <td class="categorycell" pTooltip="{{item.cm_name}}" tooltipPosition="top"> 
                  {{ item.cm_name }}  </td>
                <td> {{ item.cdn_name }}  </td>
                <td  [ngClass]="{
                  'production': item.st_name === 'In Production', 
                  'dispatched': (item.st_name === 'Dispatched')}"> 
                  {{ item.st_name }}      
                </td>
                <td class="currloc" 
                [ngClass]="{
                  'in1': item.zn_name === 'MATE-B IN 1', 
                  'out1': (item.zn_name === 'MATE-B OUT 1'),
                  'in2': item.zn_name === 'MATE-B IN 2',
                  'out2': item.zn_name === 'MATE-B OUT 2'}"> 
                  {{ item.zn_name}} </td>
                <!-- <td class="homeloc"> {{ item.im_zonehomeid.zn_name }}    </td> -->
                <td> {{ item.im_temperature }}                  </td>
                <td> {{ item.im_battery }}            </td> 
                <td> {{item.last_updated | slice:0:10}} {{item.im_lastupdated | slice:11:19}}</td>
                <td>
                  <!-- <p-menu #menu [model]="actionRow" [popup]="true" ></p-menu>              
                  <i class="pi pi-ellipsis-v" (click)="menu.toggle($event)"></i> -->

                  <svg id="changeColor " fill="#DC7633" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" (click)="editItems(item)" width="25" zoomAndPan="magnify" viewBox="0 0 375 374.9999" height="20" preserveAspectRatio="xMidYMid meet" version="1.0"><defs></defs><g></g><g id="inner-icon" transform="translate(80,70) "> <svg xmlns="http://www.w3.org/2000/svg" width="261" height="261" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3" id="IconChangeColor"><path d="M12 20h9" id="mainIconPathAttribute" stroke-width="1.2" stroke="#478ecd"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z" id="mainIconPathAttribute" stroke="#478ecd"></path></svg> </g></svg>
                </td>
            </tr>
            
        </ng-template>

        </p-table>
        </div>

    <!-- </div> -->
</div>

<img class="img" src="assets/assetbg.PNG" height="62%" width="80%">


<p-dialog [(visible)]="itemDialog" [breakpoints]="{ '1000px': '60vw', }" [style]="{width: '72vw',height: '100%'}" header="Item Details" [maximizable]="true" [modal]="true" >   
<hr class="line">
  <div class="dialogdiv">

    <div class="">
      <form [formGroup]="Addform" class="form imageform">

        <div class="form-control">
          <label for="name">Asset Image</label>
          
          <img [src]="selectedImage" height="100px" width="200px">

          <input class="input infile" type="file" accept="image/*" formControlName="im_liveimage" placeholder="Enter" (change)="onFileSelected($event)" >
          <!-- <span class="fake-btn" (click)="captureImg()">Capture <i class="fi fi-rr-camera-viewfinder"></i></span> -->
          <div class="image-btn">
            <button class="button camera" (click)="captureImg()">TAKE PHOTO <i class="fi fi-sr-camera" id="snapicon"></i></button>
            <button class="button camera1" (click)="deleteImg()"><i class="fi fi-sr-trash-xmark" id="snapicon"></i></button>
          </div>
          <!-- <div *ngIf="Addform.get('im_liveimage')?.invalid && (Addform.get('im_liveimage')?.dirty || Addform.get('im_liveimage')?.touched)" class="error errimg">
            <div *ngIf="Addform.get('im_liveimage')?.errors!required">
              *required
            </div>
          </div> -->
        </div>

      </form>
    </div>

    <div class="formdiv">

    <form [formGroup]="Addform" class="form">

      <div class="form-control">
        <label for="name">Asset Name </label>
        <input class="input" type="text" formControlName="im_name" placeholder="Enter"  required>
        <div *ngIf="Addform.get('im_name')?.invalid && (Addform.get('im_name')?.dirty || Addform.get('im_name')?.touched)" class="error">
          <div *ngIf="Addform.get('im_name')?.errors!required">
            *required
          </div>
        </div>
      </div>

      <div class="form-control">
        <label for="name">Asset Code</label>
        <input class="input" type="text" formControlName="im_assetcode" placeholder="Enter" required>
        <div *ngIf="Addform.get('im_assetcode')?.invalid && (Addform.get('im_assetcode')?.dirty || Addform.get('im_assetcode')?.touched)" class="error">
          <div *ngIf="Addform.get('im_assetcode')?.errors!required">
            *required
          </div>
        </div>
      </div>

      <div class="form-control">
        <label for="name">Category</label>
        <select formControlName="im_categoryid" [(ngModel)]="SelectedCategory">
          <option value = "">--Select--</option>
          <option value = "1">category 1</option>
          <option *ngFor="let i of categories" [value]="i.im_categoryid">{{i.cm_name}}</option>
        </select>
        <!-- <input class="input" type="text" formControlName="im_categoryid" placeholder="Enter" required> -->
        <div *ngIf="Addform.get('im_categoryid')?.invalid && (Addform.get('im_categoryid')?.dirty || Addform.get('im_categoryid')?.touched)" class="error">
          <div *ngIf="Addform.get('im_categoryid')?.errors!required">
            *required
          </div>
        </div>
      </div>

    </form>

    <form [formGroup]="Addform" class="form">

      <div class="form-control">
        <label for="name">Status</label>
        <select formControlName="im_statusid" [(ngModel)]="SelectedStatus">
          <option value = "">--Select--</option>
          <option value = "1">status 1</option>
          <option *ngFor="let i of categories" [value]="i.st_id">{{i.st_name}}</option>
        </select>

        <!-- <input class="input" type="text" formControlName="im_statusid" placeholder="Enter" required> -->
        <div *ngIf="Addform.get('im_statusid')?.invalid && (Addform.get('im_statusid')?.dirty || Addform.get('im_statusid')?.touched)" class="error">
          <div *ngIf="Addform.get('im_statusid')?.errors!required">
            *required
          </div>
        </div>
      </div>

      <div class="form-control">
        <label for="name">Current Location</label>
        <select formControlName="im_zonecurrentid"         [(ngModel)]="SelectedCurrLoc">
          <option value = "">--Select--</option>
          <option value = "1">CurrLoc 1</option>
          <option *ngFor="let i of locations" [value]="i.zn_id">{{i.zn_name}}</option>
        </select>
        <!-- <input class="input" type="text" formControlName="im_zonecurrentid" placeholder="Enter" required> -->
        <div *ngIf="Addform.get('im_zonecurrentid')?.invalid && (Addform.get('im_zonecurrentid')?.dirty || Addform.get('im_zonecurrentid')?.touched)" class="error">
          <div *ngIf="Addform.get('im_zonecurrentid')?.errors!required">
            *required
          </div>
        </div>
      </div>

      <div class="form-control">
        <label for="name">Home Location</label>
        <select formControlName="im_zonehomeid"  [(ngModel)]="SelectedHomeLoc">
          <option value = "">--Select--</option>
          <option value = "2">homeLoc 1</option>
          <option *ngFor="let i of locations" [value]="i.zn_id">{{i.zn_name}}</option>
        </select>
        <!-- <input class="input" type="number" formControlName="im_zonehomeid" placeholder="Enter" required> -->
        <div *ngIf="Addform.get('im_zonehomeid')?.invalid && (Addform.get('im_zonehomeid')?.dirty || Addform.get('im_zonehomeid')?.touched)" class="error">
          <div *ngIf="Addform.get('im_zonehomeid')?.errors!required">
            *required
          </div>
        </div>
      </div>

    </form>

    <form [formGroup]="Addform" class="form">

      <div class="form-control">
        <label for="name">MAC Address</label>
        <input class="input" type="text" formControlName="im_macadd" placeholder="Enter" required>
        <div *ngIf="Addform.get('im_macadd')?.invalid && (Addform.get('im_macadd')?.dirty || Addform.get('im_macadd')?.touched)" class="error">
          <div *ngIf="Addform.get('im_macadd')?.errors!required">
            *required
          </div>
        </div>
      </div>

      <div class="form-control">
        <label for="name">Condition </label>
        <select formControlName="im_conditionid"  [(ngModel)]="SelectedCondi">
          <option value = "">--Select--</option>
          <option value = "1">Condi 1</option>
          <option *ngFor="let i of conditions" [value]="i.cdn_id">{{i.cdn_name}}</option>
        </select>
        <!-- <input class="input" type="number" formControlName="im_conditionid" placeholder="Enter" required> -->
        <div *ngIf="Addform.get('im_conditionid')?.invalid && (Addform.get('im_conditionid')?.dirty || Addform.get('im_conditionid')?.touched)" class="error">
          <div *ngIf="Addform.get('im_conditionid')?.errors!required">
            *required
          </div>
        </div>
      </div>

      <div class="form-control">
        <label for="name">Active</label>
        <div class="checkbox-con">
          <input id="checkbox" type="checkbox" formControlName="im_active">
        </div>
        <div *ngIf="Addform.get('im_active')?.invalid && (Addform.get('im_active')?.dirty || Addform.get('im_active')?.touched)" class="error">
          <div *ngIf="Addform.get('im_active')?.errors!required">
            *required
          </div>
        </div>
      </div>

    </form>

    </div>

</div>

<p-tabView [scrollable]="true" orientation="left">

  <!-- GENERAL TAB -->
  <p-tabPanel>
    <ng-template pTemplate="header">
      <div class="tabview">
        <i class="pi pi-calendar-times"></i>
        <span>GENERAL</span>
      </div>
    </ng-template>

    <div class="purchasediv">

      <form [formGroup]="Addform" class="form">

        <div class="form-control">
          <label for="name">Item Description</label>
          <input class="input" type="text" formControlName="br_itemdesc" placeholder="Enter" required>
          <div *ngIf="Addform.get('br_itemdesc')?.invalid && (Addform.get('br_itemdesc')?.dirty || Addform.get('br_itemdesc')?.touched)" class="error">
            <div *ngIf="Addform.get('br_itemdesc')?.errors!required">
              *required
            </div>
          </div>
        </div>

        <div class="form-control">
          <label for="name">Last service</label>
          <input class="input" type="date" formControlName="br_lastservice" placeholder="Enter" required>
          <div *ngIf="Addform.get('br_lastservice')?.invalid && (Addform.get('br_lastservice')?.dirty || Addform.get('br_lastservice')?.touched)" class="error">
            <div *ngIf="Addform.get('br_lastservice')?.errors!required">
              *required
            </div>
          </div>
        </div>

        <div class="form-control">
          <label for="name">Next Service</label>
          <input class="input" type="date" formControlName="wr_expireson" placeholder="Enter" required>
          <div *ngIf="Addform.get('wr_expireson')?.invalid && (Addform.get('wr_expireson')?.dirty || Addform.get('wr_expireson')?.touched)" class="error">
            <div *ngIf="Addform.get('wr_expireson')?.errors!required">
              *required
            </div>
          </div>
        </div>

      </form>

      

    </div>

  </p-tabPanel>

  <!-- PURCHASE TAB -->
  <p-tabPanel>
    <ng-template pTemplate="header">
      <div class="tabview">
        <i class="fi fi-sr-cart-arrow-down"></i>
        <span>PURCHASE HISTORY</span>
      </div>
    </ng-template>

    <div class="purchasediv">

      <form [formGroup]="Addform" class="form">

        <div class="form-control">
          <label for="name">Purchase Date</label>
          <input class="input" type="date"formControlName="im_purchaseDate" placeholder="Enter" required>
          <div *ngIf="Addform.get('im_purchaseDate')?.invalid && (Addform.get('im_purchaseDate')?.dirty || Addform.get('im_purchaseDate')?.touched)" class="error">
            <div *ngIf="Addform.get('im_purchaseDate')?.errors!required">
              *required
            </div>
          </div>
        </div>

        <div class="form-control">
          <label for="name">Purchase From</label>
          <input class="input" type="text" formControlName="im_purchaseFrom" placeholder="Enter" required>
          <div *ngIf="Addform.get('im_purchaseFrom')?.invalid && (Addform.get('im_purchaseFrom')?.dirty || Addform.get('im_purchaseFrom')?.touched)" class="error">
            <div *ngIf="Addform.get('im_purchaseFrom')?.errors!required">
              *required
            </div>
          </div>
        </div>

        <div class="form-control">
          <label for="name">Warranty Period</label>
          <input class="input" type="number" formControlName="im_warrantyPeriod" placeholder="Enter" required>
          <div *ngIf="Addform.get('im_warrantyPeriod')?.invalid && (Addform.get('im_warrantyPeriod')?.dirty || Addform.get('im_warrantyPeriod')?.touched)" class="error">
            <div *ngIf="Addform.get('im_warrantyPeriod')?.errors!required">
              *required
            </div>
          </div>
        </div>

        <div class="form-control">
          <label for="name">Purchase Cost</label>
          <input class="input" type="number" formControlName="im_purchaseCost" placeholder="Enter" required>
          <div *ngIf="Addform.get('im_purchaseCost')?.invalid && (Addform.get('im_purchaseCost')?.dirty || Addform.get('im_purchaseCost')?.touched)" class="error">
            <div *ngIf="Addform.get('im_purchaseCost')?.errors!required">
              *required
            </div>
          </div>
        </div>

      </form>

      <form [formGroup]="Addform" class="form">

        <div class="form-control">
          <label for="name">Replacement Cost</label>
          <input class="input" type="number" formControlName="im_replacementCost" placeholder="Enter" required>
          <div *ngIf="Addform.get('im_replacementCost')?.invalid && (Addform.get('im_replacementCost')?.dirty || Addform.get('im_replacementCost')?.touched)" class="error">
            <div *ngIf="Addform.get('im_replacementCost')?.errors!required">
              *required
            </div>
          </div>
        </div>

        <div class="form-control">
          <label for="name">Purchase Order</label>
          <input class="input" type="file" formControlName="im_purchaseOrder" placeholder="Enter" >
          <div *ngIf="Addform.get('im_purchaseOrder')?.invalid && (Addform.get('im_purchaseOrder')?.dirty || Addform.get('im_purchaseOrder')?.touched)" class="error">
            <div *ngIf="Addform.get('im_purchaseOrder')?.errors!required">
              *required
            </div>
          </div>
        </div>

      </form>

    </div>

  </p-tabPanel>

  <!-- AUDIT TAB -->
  <p-tabPanel>
    <ng-template pTemplate="header">
      <div class="tabview">
        <i class="fi fi-br-circle-a"></i>
        <span>AUDIT</span>
      </div>
    </ng-template>

    <div class="purchasediv">

      <form [formGroup]="Addform" class="form">

        <div class="form-control">
          <label for="name">Last Audit Date</label>
          <input class="input" type="date" formControlName="im_lastAuditDate"  placeholder="Enter" required>
          <div *ngIf="Addform.get('im_lastAuditDate')?.invalid && (Addform.get('im_lastAuditDate')?.dirty || Addform.get('im_lastAuditDate')?.touched)" class="error">
            <div *ngIf="Addform.get('im_lastAuditDate')?.errors!required">
              *required
            </div>
          </div>
        </div>

        <div class="form-control">
          <label for="name">Audit By</label>
          <input class="input" type="text" formControlName="im_auditBy" placeholder="Enter" required>
          <div *ngIf="Addform.get('im_auditBy')?.invalid && (Addform.get('im_auditBy')?.dirty || Addform.get('im_auditBy')?.touched)" class="error">
            <div *ngIf="Addform.get('im_auditBy')?.errors!required">
              *required
            </div>
          </div>
        </div>

        <div class="form-control">
          <label for="name">Next Audit</label>
          <input class="input" type="date" formControlName="im_nextaudit" placeholder="Enter" required>
          <div *ngIf="Addform.get('im_nextaudit')?.invalid && (Addform.get('im_nextaudit')?.dirty || Addform.get('im_nextaudit')?.touched)" class="error">
            <div *ngIf="Addform.get('im_nextaudit')?.errors!required">
              *required
            </div>
          </div>
        </div>

        <div class="form-control">
          <label for="name">Assign To</label>
          <input class="input" type="text" formControlName="im_assignto" placeholder="Enter" required>
          <div *ngIf="Addform.get('im_assignto')?.invalid && (Addform.get('im_assignto')?.dirty || Addform.get('im_assignto')?.touched)" class="error">
            <div *ngIf="Addform.get('im_assignto')?.errors!required">
              *required
            </div>
          </div>
        </div>

      </form>

      <form [formGroup]="Addform" class="form purform">


        <div class="form-control">
          <label for="name">Audit Report</label>
          <input class="input" type="file" accept="application/pdf" formControlName="im_auditreport" placeholder="Enter" >
          <div *ngIf="Addform.get('im_auditreport')?.invalid && (Addform.get('im_auditreport')?.dirty || Addform.get('im_auditreport')?.touched)" class="error">
            <div *ngIf="Addform.get('im_auditreport')?.errors!required">
              *required
            </div>
          </div>
        </div>

        <div class="form-control">
          <label for="name">Send Audit Mail To</label>
          <input class="input" type="email" formControlName="im_sendmail" placeholder="Enter" required>
          <div *ngIf="Addform.get('im_sendmail')?.invalid && (Addform.get('im_sendmail')?.dirty || Addform.get('im_sendmail')?.touched)" class="error">
            <div *ngIf="Addform.get('im_sendmail')?.errors!required">
              *required
            </div>
          </div>
        </div>

      </form>

    </div>

  </p-tabPanel>

  <hr class="line">

  <div class="formdiv">

  <form [formGroup]="Addform" class="form">

  <div class="form-control">
    <label for="name">Created On</label>
    <input class="input" type="text" formControlName="im_createdon" placeholder="Enter" [readOnly]="true" required>
    <div *ngIf="Addform.get('im_createdon')?.invalid && (Addform.get('im_createdon')?.dirty || Addform.get('im_createdon')?.touched)" class="error">
      <div *ngIf="Addform.get('im_createdon')?.errors!required">
        *required
      </div>
    </div>
  </div>

  <div class="form-control">
    <label for="name">Created By</label>
    <input class="input" type="text" formControlName="im_createdby" placeholder="Enter" [readOnly]="true" required>
    <div *ngIf="Addform.get('im_createdby')?.invalid && (Addform.get('im_createdby')?.dirty || Addform.get('im_createdby')?.touched)" class="error">
      <div *ngIf="Addform.get('im_createdby')?.errors!required">
        *required
      </div>
    </div>
  </div>

  <div class="form-control">
    <label for="name">Modified On</label>
    <input class="input" type="text" formControlName="im_modifiedon" placeholder="Enter" [readOnly]="true" required>
    <div *ngIf="Addform.get('im_modifiedon')?.invalid && (Addform.get('im_modifiedon')?.dirty || Addform.get('im_modifiedon')?.touched)" class="error">
      <div *ngIf="Addform.get('im_modifiedon')?.errors!required">
        *required
      </div>
    </div>
  </div>

  <div class="form-control">
    <label for="name">Modified By</label>
    <input class="input" type="text" formControlName="im_modifiedby" placeholder="Enter" [readOnly]="true" required>
    <div *ngIf="Addform.get('im_modifiedby')?.invalid && (Addform.get('im_modifiedby')?.dirty || Addform.get('im_modifiedby')?.touched)" class="error">
      <div *ngIf="Addform.get('im_modifiedby')?.errors!required">
        *required
      </div>
    </div>
  </div>

  </form>
  </div>

</p-tabView>

<ng-template pTemplate="footer">
  <div class="foot">
    <button class="button close" (click)="closeModal()" >CLOSE<fa-icon [icon]="cross"></fa-icon></button>
    <button class="button ok" [disabled]="this.Addform.invalid" (click)="onSubmit()">{{ModalType}}<fa-icon [icon]="check"></fa-icon></button>
  </div>
  </ng-template>

</p-dialog>




<p-dialog [(visible)]="DisplayCamModal" [draggable]="false" [closable]="false" [modal]="true" [style]="{width: '50%',height: '80%'}">
  <div class="webcam" id="contentToOpen">
    <div *ngIf="!webcamImage">
      <webcam
        [height]="400"
        [width]="400"
        (imageCapture)="takePicture($event)"
        [trigger]="initObservable"
        *ngIf="showWebcam"
        [imageQuality]="1"
        [mirrorImage]="'never'"
        [allowCameraSwitch]="true"
        (cameraSwitched)="cameraWasSwitched($event)"
      ></webcam>
      <br />
      <button class="button ok" (click)="takeSnapshot()"> <i class="fi fi-rs-aperture"></i> Capture</button>
      <!-- <button class="button ok" (click)="showNextCamera()" [disabled]="!multipleWebcamsAvailable"> <i class="fi fi-rs-aperture"></i> Swap </button> -->
      <br />
    </div>
    <div class="snapshot" *ngIf="webcamImage">
      <h4>Here's Your Snap</h4>
      <img [src]="webcamImage.imageAsDataUrl" height="270px" width="400px"/>
      <div>
        <button class="button close" (click)="retakeSnapshot()"> <i class="fi fi-rr-rotate-left"></i> Retake</button>
        <button class="button ok" (click)="OkSnapshot(webcamImage)"> <i class="fi fi-ss-check-circle"></i> Ok </button>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="foot">
      <button class="button close" (click)="closeWebcamModal()" >CLOSE<fa-icon [icon]="cross"></fa-icon></button>
    </div>
    </ng-template>

</p-dialog>

</body>