@import "primeicons/primeicons.css";


th{
  font-size:small;
  color: #000000 !important;
  background: #FFcdcd !important;
  text-align: left!important;
  text-transform: uppercase;
  // font-weight: 500;
}
td{
  font-size:small;
  text-align: left !important;
  text-transform: uppercase;
}
#savebutton{
    float:right;
    height:35px;
    margin-top: 1rem;
}
