

.matcard{
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 390px !important;
    height: 370px !important;
   border: 1px solid #80808080;
   border-radius: 15px;
   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);

}

canvas#MyChart {
    width: 60% !important;
    height: 100% !important;
}

.heading {
    margin-top: 0.8rem;
    display: flex;
    justify-content: center;
    align-items:start !important;
    font-weight: 700;
}
