<app-toolbar *ngIf="getRouter().url !== '/' "></app-toolbar>
<app-sidebar *ngIf="getRouter().url !== '/' "></app-sidebar>

<router-outlet></router-outlet>

<!-- <p-scrollTop>
  <ng-template pTemplate="icon">
    <i class="pi pi-arrow-circle-up" styleClass="custom-scrolltop"></i>
  </ng-template>
</p-scrollTop> -->

<p-scrollTop  class="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-circle-up" [style]="{'background':'#da2020'}"/>

<!-- <app-footer *ngIf="getRouter().url !== '/' "></app-footer> -->


<p-toast></p-toast>
