@import "primeicons/primeicons.css";

.searchtab{
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 44px;
  position: relative;
  height: 71px;
  left: 4%;
}
.tablehead{
    display: flex;
    justify-content:center;
    align-items: center;
}

p-table#mpl.p-element{
  position: relative;
  left: 10px;
  display:grid ;
  bottom: 50px;
}

.heading{
    margin-right: 6rem;

}

::ng-deep{
  .pi-filter[_ngcontent-lux-c81]:before {
    content: "\e94c";
    top: 9px;
    left: 5px;
    margin-bottom: 5px;
    position: relative;
}
}

.top-align{
  position:relative;
  top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  // justify-content: space-between;
  align-items: stretch;
}

.img{
  width: 40px;
  left: 18px; //18px
  position: relative;
  top: 19px; //34px
  margin-right: 10px;
  cursor:pointer
}

::ng-deep{
.filter-icon-container {
  position: relative;
  display: inline-block;
}

.filter-button {
  display: flex;
  align-items: center;
  top: 19px;
  position:relative;
  justify-content: center;
  border: 1px solid #ccc; /* Add border if needed */
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #da2020; /* No background color */
  transition: width 0.3s ease, padding 0.3s ease;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.filter-button .pi {
  color: white; /* Set filter icon color to white */
}

.filter-text {
  display: none;
  margin-left: 1rem;
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

.filter-icon-container:hover .filter-button {
  width: auto;
  padding-right: 1rem; /* Adjust padding to fit the text */
  border-radius: 2rem;
}

.filter-icon-container:hover .filter-button .filter-text {
  display: inline;
  opacity: 1;
}

.filter-icon-container:hover .pi{
  margin-left: .8rem;
}
}
