/* styles.css */


.container-fluid {
  margin-left: 60px; /* Sidebar width */
  margin-top: 50px; /* Topbar height */
  padding: 20px;
  background-color: #ffffff;
}

:host ::ng-deep p-table {
  tr:nth-child(odd) {
      background-color: rgb(251, 230, 230);
  }
}
::ng-deep .p-tabview-nav-container {
  padding-top: 0px;
}



::ng-deep .p-tabview p.p-tabview-nav {
  background: #ffffff;
  border: 1px solid #000000;
  border-width: 2px ;
  display: flex;
  flex-grow: 2;
  flex-wrap: wrap;
  align-content: stretch;
}

::ng-deep .p-tabview-nav {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow:none;
}

::ng-deep .p-tabview-nav li .p-tabview-selected a {
  color: #fff !important;
  background-color: #da2020 !important;
  border-color: #da2020 !important;
}

::ng-deep .p-tabview-nav li .p-tabview-selected a #path {
  image-rendering: url;
}

::ng-deep .p-tabview .p-tabview-nav {
  background: #ffffff;
  height: 20px;
   border:none;

}

::ng-deep .p-tabview-nav li a {
  color: #747474 !important;
  border: 1px solid #d2d1d1 !important;
  height: 28px;
  border-radius: 4px !important;
  margin-right: 3px !important;
  padding: 1px 5px !important;
  transition: all 0.3s ease !important;
}

// ::ng-deep .p-tabview-nav li a:hover,
::ng-deep .p-tabview-nav li.p-highlight a {
  background-color: #da2020 !important;
  color: #fff !important;
  height: 28px;
  border-color: #da2020;
}

::ng-deep .p-tabview-nav li a:focus {
  box-shadow: none !important;
}

::ng-deep .p-tabview .p-tabview-panels {
  border: 2px !important;
  padding: 0px !important;
  background-color: #fff !important;
  border-radius: 0 0 8px 8px !important;
  // border-top: 1px solid #e0e0e0 !important;
  // height:860px;
  // display: none !important;
}

::ng-deep .p-tabview .p-tabview-panels .p-tabview-panel {
  padding: 10px 50px 20px 20px !important;
}

.tab-icon {
  width: 20px;
  height: 20px;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .tab-icon {
      width: 30px;
      height: 30px;
      margin-right: 8px;
  }

  ::ng-deep .p-tabview-nav li a {
      padding: 8px 16px !important;
  }
}

@media (max-width: 992px) {
  .tab-icon {
      width: 26px;
      height: 26px;
      margin-right: 6px;
  }

  ::ng-deep .p-tabview-nav li a {
      padding: 6px 12px !important;
  }
}

@media (max-width: 768px) {
  .tab-icon {
      width: 24px;
      height: 24px;
      margin-right: 4px;
  }

  ::ng-deep .p-tabview-nav {
      flex-wrap: nowrap;
      overflow-x: auto;
  }

  ::ng-deep .p-tabview-nav li {
      flex: 1 0 auto;
  }

  ::ng-deep .p-tabview-nav li a {
      padding: 4px 8px !important;
  }
}

@media (max-width: 576px) {
  .tab-icon {
      width: 20px;
      height: 20px;
      margin-right: 2px;
  }

  ::ng-deep .p-tabview-nav {
      flex-wrap: nowrap;
      overflow-x: auto;
  }

  ::ng-deep .p-tabview-nav li {
      flex: 1 0 auto;
  }

  ::ng-deep .p-tabview-nav li a {
      padding: 1px 1px !important;
      font-size: 2px !important;
  }
}

.bg{
  left: 30%;
  top: 40%;
  position: fixed;
  opacity: .5;
  overflow: hidden;
      // z-index: 1; /* Ensure the background image is behind other content */
}

.bg2{
  width: 60%;
  height: auto;
  position: absolute;
  left: 15%;
  top: 200px;
  opacity: .5;
  // z-index: 1;

}

.report-container {
  position: relative; /* Allows child elements to be positioned absolutely or relatively */
}

// ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link{
//   width: 100%; //change the width of the tabmenu (pathtracking,mpl,....)
//   height: 80%;
// }

::ng-deep .p-tabview-nav-content {
  overflow-x:visible ;
  overflow-y: visible;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overscroll-behavior: contain auto;
}

:host {
  ::ng-deep {
      * {
          &::-webkit-scrollbar {
              width: 10px;
              height: 8px;
          }
          &::-webkit-scrollbar-thumb {
              background-color: #FFCDCD;
              border-radius: 20px;
          }
      }
    }

}
