.container-fluid{
  margin-left: 60px;
  margin-top: 45px;
  padding: 20px 10px 20px 10px;
}

.mat-mdc-card-header {
  display: flex;
  padding: 10px 10px 0;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 5px;
}



.custom-card {
  background: linear-gradient(-394deg, #ffffff 26%, #fb6262 100%);
  border-radius: 15px;
  color: #000;
  flex: 1;
  /* min-width: calc(100% / 5 - 50px);  */
  height: 105px;
  min-width:fit-content;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
              0 1px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.12);
  transition: transform 0.6s ease-in-out;
  /* Ensure the card does not shrink below its content size */
  flex-grow: 1;
  flex-basis: 0;
  overflow: hidden;
}

.custom-card:hover {
  background: linear-gradient(492deg, #ffffff 26%, #fb6262 100%);
  transform: translateY(-3px);
}

.beacons{
  flex: 1 ;
  height: 125px;
  min-width:fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #80808080;
  border-radius: 15px;
  padding: 10px;
  color: #000;
  bottom: 0;

   /* Smooth transitions for both transform and background */
  transform: translate3d(0, 0, 0); /* Start at the top and move down on hover */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12); /* Add some shadows to create the "card" effect */

}

.header-content {
  margin-top: -1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.beacon {
  display: flex;
  align-items: center;
}

.asset-info {
  display: flex;
  flex-direction: column;
}

.asset{
  color: #ef5555;
  font-size: 17px;
}

#update{
  font-size: x-small;
  color:grey
}

.seperate .title {
  margin-top: 5px;
  font-size: 10px;
  color:grey
}





/*
added styles */
.card-container {
  display: flex;
  gap: 1rem;
  flex: 1;
  padding: 5px;
  justify-content: flex-start;
  align-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

@media (max-width: 768px) {
  .secondary {
    flex-basis: 100%; /* Full width on smaller screens */
  }
}
.card1{
  margin-top: -0.8rem;
}

.card{
  margin-top: -0.8rem;
  flex: 1;
}

img.mat-card-image {
  max-height: 24px; /* Adjust height of the beacon image as necessary */
  max-width: 24px; /* Adjust width of the beacon image as necessary */
}

.custom-card img {
  max-width: 100%;
  height: auto;
  display: block; /* Ensure the image behaves like a block element */
  margin: 0 auto; /* Center the image horizontally */
}





.chart-row2{
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin-top: 1.2rem;
  gap: 1rem;
  align-items: start;

}






  .card {
    /* overflow: hidden; */
 }

  .transaction{
    margin-top: 0.8rem;
  }



  h6{
    margin: 0;
    padding-top: 0.5rem;
  }


  .seperate {
    text-align: center;
  }

  .seperate h4 {
    margin-bottom: 5px;
  }



  .seperates{
    margin-top: -1rem;
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
  }


  .title {
    font-size: 8px; /* Adjust font size as needed */
  }



  .details{
    width: 300px;
    height:221px;
  }
  /* .mat-mdc-card-header .hrs{
    display:inline-block;
  }

  .mat-mdc-card-header .details{
    padding-top: 20px;
  } */


   .montly_details{
    width: 329px;
    height: 300px;
  }
  /* .mat-mdc-card-header .hrs-dis{
    display: flow-root;
  } */
  .mat-mdc-card-content:last-child{
    display: flow;
    /* padding: 0 16px; */
    padding-top: 20px;
}

.mat-mdc-card-md-image{
  width: 78px;
    height: 78px;
    top: 33px;
    left: 17px;
}

.card-width{
  background: linear-gradient(-25deg, #ffffff,#ffffff,#fb6060)
}


.custom-card .mat-card-header {
  padding-bottom: 0; /* Remove padding below the header */
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  margin-top: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.left-content p {
  font-size:larger;
 font-weight: 1000
}
.right-content img {
  /* display: flex;
  justify-content: center;

  align-items: end; */
  margin-top: -2rem;
}

.right-content2 img {
  display: flex;
  justify-content: center;
  align-items: center;

 max-width: 100px;
 max-height: 100px;
  margin-top: -2rem;
}

.outimg img{
  width: 120px;
 height: 70px;
   margin-top: -1.5rem;
}

@media (min-width: 1440px){
  .secondary{
    flex-shrink: 0 !important;
    flex-basis: 200px !important;
  }
}

::ng-deep .p-datepicker table td {
  padding: 0.2rem !important;
}

::ng-deep .p-datepicker table td > span {
  width: 1.7rem;
  height: 1.7rem;
}

::ng-deep .p-datepicker table {
  font-size: 10pt;
  margin: -0.143rem 0;
}

::ng-deep .p-datepicker .p-datepicker-header {
  padding: 0.2rem;
}