@import "primeicons/primeicons.css";
.loader1{
    display: block;
    width: 10%;
    margin: auto;
    justify-content: center;
    margin-top:25%;
}

::ng-deep {
    .p-datatable th {
        color: red !important;
        text-transform: uppercase;

    }
}
// ::ng-deep {
//     .p-datatable td {


//     }
// }

.heading{
    margin-right: 6rem;

}
.searchtab{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tablehead{
    display: flex;
    justify-content:center;
    align-items: center;
}
::ng-deep {
    .p-dropdown-label  {
        font-size:small;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        height:38px !important;
        width: 70px !important;
        padding: 10px 10px 10px 10px !important;
        text-overflow: ellipsis;
        cursor: pointer;
        // padding: 5px 5px 5px 5px;
    }

}
.icon{
    .p-icon{
        width: 0.5rem !important;
        height: 0.5rem !important;
    }
}
// ::ng-deep {
//     .p-icon {
//         width: 0.5rem;
//         height: 0.5rem;
//         }
//     }
::ng-deep {
    .p-calendar-w-btn .p-inputtext{
        height:40px;
        width:120px !important;
    }
}

::ng-deep {
    .p-calendar-w-btn .p-datepicker-trigger{
        height:40px;
    }
}
.custom_form{
    margin-top: -1rem;
}
::ng-deep {
    .p-datatable th {
        font-size:small;
        color: #FFCDCD !important;
        text-align: center !important;
        text-transform: uppercase;
    }
}
::ng-deep {
    .p-datatable td {
        font-size:small;
        text-align: center !important;
        text-overflow: ellipsis !important;
        white-space: nowrap;
        overflow: hidden;
    }
}
:host ::ng-deep p-table {
  tr:nth-child(odd) {
      background-color: rgb(251, 230, 230);
  }
}
::ng-deep {
    .p-sortable-column-icon {
        width: 12px !important;
        height: 12px !important;
    }
}
