@import "primeicons/primeicons.css";
.loader1{
    display: block;
    width: 10%;
    margin: auto;
    justify-content: center;
    margin-top:25%;
}


.heading{
    margin-right: 6rem;

}
.searchtab{
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 44px;
  position: relative;
  height: 71px;
  left: 4%;
}
.tablehead{
    display: flex;
    justify-content:center;
    align-items: center;
}

p-table#dom.p-element{
  position: relative;
  left: 10px;
  display:grid ;
  bottom: 33px;
}

::ng-deep {
    .p-dropdown-label  {
        font-size:small;
        display: block;
        white-space: nowrap;
        align-items: center;
        display: flex;
        overflow: hidden;
        height:30px !important;
        width: 70px !important;
        padding: 10px 10px 10px 10px !important;
        text-overflow: ellipsis;
        cursor: pointer;
        // padding: 5px 5px 5px 5px;
    }

}
.icon{
    .p-icon{
        width: 0.5rem !important;
        height: 0.5rem !important;
    }
}

::ng-deep{
  .field{
    margin-right: 1rem;
  }
}

::ng-deep{
  .p-button.p-button-danger{
      width: 100%;
      height: 31px;
  }
}

::ng-deep {
    .p-calendar-w-btn .p-inputtext{
        height:30px;
        width:80px !important;
        font-size: small;
    }
}

.formgroup-inline{
  position: relative;
  top: 29px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
}

::ng-deep {
    .p-calendar-w-btn .p-datepicker-trigger{
        height:30px;
    }
}
.custom_form{
    margin-top: -1rem;
}
::ng-deep {
    .p-datatable th {
        font-size:small;
        color: #FFCDCD !important;
        text-align: center !important;
        text-transform: uppercase;
    }
}
::ng-deep {
    .p-datatable td {
        font-size:small;
        text-align: center !important;
        text-overflow: ellipsis !important;
        white-space: nowrap;
        overflow: hidden;
    }
}
:host ::ng-deep p-table {
  tr:nth-child(odd) {
      background-color: rgb(251, 230, 230);
  }
}
::ng-deep {
    .p-sortable-column-icon {
        width: 12px !important;
        height: 12px !important;
    }
}

.img{
  width: 40px;
  left: 18px; //18px
  position: relative;
  top: 19px; //34px
  margin-right: 10px;
  cursor:pointer
}

.draggable {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  // user-select: none;
  z-index: 1000;
}

.draggable img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.draggable.dragging {
  cursor: grabbing;
}


.form-style{
  width: 145px;
  display: flex;
  clear: left;
  float: left;
  text-align: left;
  padding-right: 2px;
  font-size:12px;
}

.semi{
  font-size: 13px;
  text-align: left;
  width: 188px;
  display: flex;
}
