<!-- <div *ngIf="loadingGif"><img src="assets\loader1.gif" class="loader1"></div> -->
<div class="container-fluid">
  <div class="mt-4" *ngIf="loadingGif">
      <p-tabView styleClass="main-tabs">
          <p-tabPanel>
              <ng-template pTemplate="header">
                <i class="pi pi-spin pi-cog"></i> &nbsp;
                 <span>General Settings</span>
              </ng-template>
              <p-tabView styleClass="inner-tabs">
                  <p-tabPanel class="tab-menu" style="padding: 10px 10px ; font-size: 17px;">
                      <ng-template pTemplate="header">
                          &nbsp; <span>Plant Management</span>
                      </ng-template>
                      <div class="box shadow-sm">
                          <app-plant-management></app-plant-management>
                      </div>
                  </p-tabPanel>
                  <p-tabPanel class="tab-menu" style="padding: 10px 10px ; font-size: 17px;">
                      <ng-template pTemplate="header">
                          &nbsp; <span>Location Settings</span>
                      </ng-template>
                      <div class="box shadow-sm">
                          <app-location></app-location>
                      </div>
                  </p-tabPanel>
                  <p-tabPanel class="tab-menu" style="padding: 10px 10px; font-size: 17px;">
                      <ng-template pTemplate="header">
                          &nbsp; <span>Conditions</span>
                      </ng-template>
                      <div class="box shadow-sm">
                          <app-conditions></app-conditions>
                      </div>
                  </p-tabPanel>
                  <p-tabPanel class="tab-menu" style="padding: 10px 10px ; font-size: 17px;">
                      <ng-template pTemplate="header">
                          &nbsp; <span>Status</span>
                      </ng-template>
                      <div class="box shadow-sm">
                          <app-status></app-status>
                      </div>
                  </p-tabPanel>
                  <p-tabPanel class="tab-menu" style="padding: 10px 10px ; font-size: 17px;">
                      <ng-template pTemplate="header">
                          &nbsp; <span>Category</span>
                      </ng-template>
                      <div class="box shadow-sm">
                          <app-category></app-category>
                      </div>
                  </p-tabPanel>
              </p-tabView>
          </p-tabPanel>

          <p-tabPanel>
              <ng-template pTemplate="header">
                <i class="pi pi-wifi fade-in-out" ></i> &nbsp;
                 <span>Reader management</span>
              </ng-template>
              <div class="box shadow-sm">
                  <app-reader-management></app-reader-management>
              </div>
          </p-tabPanel>

          <p-tabPanel>
              <ng-template pTemplate="header">
                <i class="pi pi-users bounce" ></i> &nbsp;
                 <span>User Management</span>
              </ng-template>
              <div class="box shadow-sm">
                  <app-user-management></app-user-management>
              </div>
          </p-tabPanel>
      </p-tabView>
  </div>
</div>

<!--
<div class="container-fluid">
  <div class="mt-4" *ngIf="loadingGif">
      <p-tabView styleClass="main-tabs">
          <p-tabPanel header="General Settings" leftIcon="pi pi-cog">
              <p-tabView styleClass="inner-tabs">
                  <p-tabPanel header="Plant Management">
                      <div class="box shadow-sm">
                          <app-plant-management></app-plant-management>
                      </div>
                  </p-tabPanel>
                  <p-tabPanel header="Location Settings">
                      <div class="box shadow-sm">
                          <app-location></app-location>
                      </div>
                  </p-tabPanel>
                  <p-tabPanel header="Conditions">
                      <div class="box shadow-sm">
                          <app-conditions></app-conditions>
                      </div>
                  </p-tabPanel>
                  <p-tabPanel header="Status">
                      <div class="box shadow-sm">
                          <app-status></app-status>
                      </div>
                  </p-tabPanel>
                  <p-tabPanel header="Category">
                      <div class="box shadow-sm">
                          <app-category></app-category>
                      </div>
                  </p-tabPanel>
              </p-tabView>
          </p-tabPanel>
          <p-tabPanel header="Reader Management" leftIcon="pi pi-window">
              <div class="box shadow-sm">
                  <app-reader-management></app-reader-management>
              </div>
          </p-tabPanel>
          <p-tabPanel header="User Management" leftIcon="pi pi-user">
              <div class="box shadow-sm">
                  <app-user-management></app-user-management>
              </div>
          </p-tabPanel>
      </p-tabView>
  </div>
</div> -->
